@use '@angular/material' as mat;

.colour_elevation {
    @include mat.elevation(20, $color: rgba(134, 59, 139, 0.4));
}

.colour_elevation:hover {
  box-shadow: 0 10px 20px rgba(213, 30, 226, 0.5); /* stronger shadow on hover */
  transform: translateY(-2px); /* optional lift effect */
}

div{
  display:flex;
  justify-content: center;
}

.background {
  display: flex;
  justify-content: center;
}

  mat-card{
    max-width: 50%;
    align-self: center;
  }

body {
  margin: 10%;
}
.habit-container {
  padding: 1%;
  height: auto;
  width: fit-content;
  margin-left: auto;
  margin-top: 2%;
  margin-right: auto;
}

.custom-list {
  max-width: 400px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  padding: 0;
}

.custom-list-item {
  border-bottom: 1px solid #eee;
}

.custom-list-item:last-child {
  border-bottom: none;
}

.item-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.item-text {
  font-size: 1rem;
  font-weight: 500;
}
