<div>
  <mat-card class="colour_elevation">
    <h1>Create a new Habit</h1>
    <button id="createbutton" mat-button aria-label="Create a new Habit" routerLink="/create-habit">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
</div>


<mat-nav-list class="custom-list">
  <mat-list-item *ngFor="let habit of habits" class="custom-list-item">
    <div class="item-content">
      <mat-checkbox #checkbox [checked]="isAchieved(habit)" (click)="onAchieved(habit.uuid, checkbox.checked)"></mat-checkbox>
      <span class="item-text">{{ habit.name }}</span>
      <button [matMenuTriggerFor]="menu" aria-label="Open menu" class="menu-button" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>visibility</mat-icon>
        <span>View</span>
      </button>
      <button mat-menu-item (click)="onDelete(habit.uuid)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

  </mat-list-item>
</mat-nav-list>

