<div class="main_container">
    <mat-card>
        <h1>Welcome to Frigor</h1>
        <h2 class="h2_center">Get your habits on Track in THREE EASY STEPS</h2>
    </mat-card>
    <mat-icon>
        arrow_downward
    </mat-icon>
    <mat-card>
        <p>
            Hey pal, <br>
            <br>
            are you done procrastinating?!<br>
            We've got the perfect tracker for you!<br>
        </p>
    </mat-card>

    <mat-card>
        <h2>Getting started</h2>

        <p>
            1. Create your FREE account for LIFE<br><br>
            2. Start with 3 easy habits
        </p>
    </mat-card>

    <mat-icon>
        arrow_downward
    </mat-icon>

    <mat-card>
        <h2 class="h2_center">Explore the Frigor method</h2>
        <h3>The best way to build sustainable habits that last</h3>

        <p>
            The key lies in small steps and accountability. <br>
            <br>
            At Frigor we've made it our persnal mission to help YOU build your habits fast and make them last.
        </p>
        <h3>The-Frigor-Method</h3>
        <p>
            Start with an easy habit that you already do. e.g. brushing your teeth in the morning <br><br>
            Pick a habit you want to adobt in your routine. For example exercise more. <br><br>
            Start with an amount you can easily do! Time AND Repetitions <br><br>
            The goal is not to do to much at a time. We want to build habits that last! <br><br>
            This process is called habit stacking.<br><br>
            <br><br>
            Another trick is to have your trigger be time or date based. For example: <br><br>
            Every wednesday when I come home from work and changed my chlothes I will pick 5 things to stash away.<br><br>
        </p>
    </mat-card>
</div>
