<div class="main_container">
    <mat-card>
        <h1>Welcome to Frigor</h1>
        <h2>Get your habits on Track in THREE EASY STEPS</h2>

        <p>
            Hey pal, <br>
            <br>
            are you done procrastinating?!<br>
            <br>
            <br>
            We've got the perfect tracker for you!<br>
        </p>

        <mat-card>
            <h2>Getting started</h2>
                    
            <p>
                1. Create your FREE (LIFETIME) account <br>
                2. Start with 3 easy habits 
            </p>
        </mat-card>

        <mat-card>
            <h2>Explore the Frigor Method</h2>
            <h3>The best way to build sustainable habits that last</h3>

            <p>
                The key lies in small steps and accountability. <br>
                <br>
                At Frigor we've made it our persnal mission to help YOU build your habits fast and make them last.
            </p>
            <h3>The Frigor Method</h3>
            <p>
                Start with an easy habit that you 
            </p>
        </mat-card>

        

        <p>
            Hey pal,
            
            are you done procrastinating?!
            
        
            We've got the perfect tracker for you!
        </p>
    </mat-card>
</div>