
@use '@angular/material' as mat;

.colour_elevation {
    @include mat.elevation(20, $color: rgba(134, 59, 139, 0.4));
}

.colour_elevation:hover {
  box-shadow: 0 10px 20px rgba(213, 30, 226, 0.5); /* stronger shadow on hover */
  transform: translateY(-2px); /* optional lift effect */
}
.background {
  display: flex;
  justify-content: center;
  mat-card{
    max-width: 50%;
    align-self: center;
  }
  padding: 20px;

    form {
      margin: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;

      .width {
        width: 100%;
      }

      .inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
      }

      mat-radio-group {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
      }

      .week-chooser {
        margin-bottom: 40px;
      }
    }
    h1 {
      margin: 20px;
    }
}
