@use '@angular/material' as mat;

.main_container {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    #create_habit{
        border: 3px solid black;
    }

    #habit_description {
        height: 300px;
        text-align: left;
        text-align: top;
    }

    form{
        margin: 0 auto;
        width: 250px;
    }

    mat-form-field {
        margin:0 auto;
        width: 250px;
    }

    mat-card-header{
        margin: 0 auto;
        padding-bottom: 20px;
    }

    button {
        margin: 0 auto;
    }

    #create_button {
        margin: 0 auto;
        width: 200px;
    }

    mat-button-toggle-group {
        margin:0 auto;
        align-self: center;
    }

    
}